<mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab label="Get-Started">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Get-Started
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
              <form #f="ngForm" (ngSubmit)="onSubmit($event)" novalidate>
                <mat-form-field class="example-full-width">
                  <mat-label>Enter your location</mat-label>
                  <input matInput placeholder="Ex. Delhi" [(ngModel)]="location" name="location" required>
                </mat-form-field>
                <div>
                  <mat-label>How maney people live in your household ?</mat-label>
                </div>
                <mat-slider thumbLabel [displayWith]="formatLabelperson" [(ngModel)]="person" name="person"
                  tickInterval="1" min="0" max="5"></mat-slider>
                <div>
                  <mat-label>What is your approximate gross annula household income ?</mat-label>
                </div>
                <mat-slider thumbLabel [displayWith]="formatLabelincome" [(ngModel)]="salary" name="salary"
                  tickInterval="20" min="0" max="120">
                </mat-slider>
                <mat-card-actions>
                  <button mat-raised-button (o)="nextStep()" color="primary">Next</button>
                </mat-card-actions>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Travel">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Travel
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-form-field class="example-full-width">
              <mat-label>Public Transit</mat-label>
              <input matInput placeholder="miles/year" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Air Travel</mat-label>
              <input matInput placeholder="miles/year" required>
            </mat-form-field>
            <mat-card-actions>
              <button mat-raised-button (o)="previousStep()" color="primary">Previous</button>
              <button mat-raised-button (o)="nextStep()" color="primary">Next</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Home"> Content 3 </mat-tab>
  <mat-tab label="Food"> Content 3 </mat-tab>
  <mat-tab label="Shopping"> Content 3 </mat-tab>
  <mat-tab label="Shopping"> Your Footprint </mat-tab>
  <mat-tab label="Take Action"> Take action </mat-tab>
  
  <mat-tab label="upload">
    <h1>file upload</h1>
    <input type="file" (change)="onFileSelected($event)">
    <input type="button" (click)="onFileUpload()" value="upload file">
  </mat-tab>

</mat-tab-group>
